.ql-container.ql-snow {
	flex-grow: 1;
}

.ql-toolbar.ql-snow {
	height: auto;
	align-self: self-start;
	width: 100%;
	text-align: start;
}

input:focus {
	outline: none;
	border: none;
	background-color: #f5f5f5;
}
